@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CoconutDays';
    src: url('../fonts/coconut-days.ttf') format('truetype'),
    url('../fonts/coconut-days.woff2') format('woff2');
}

.font-festival {
    font-family: 'CoconutDays', fantasy;
}

body {
}

.Bg__brick {
    @apply absolute top-0 left-0 right-0 opacity-30;
    background-image: url("~/assets/img/brick-wall.jpg");
    height: 81%;
}
