@import url(./stage.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Coconut Days';
    src: url('../fonts/coconut-days.ttf') format('truetype'),
    url('../fonts/coconut-days.woff2') format('woff2');
}

@layer components {
    .font-festival {
        @apply tracking-wider;
        font-family: 'Coconut Days', fantasy;
    }

    .Bg__brick {
        @apply opacity-30 h-1/3 lg:h-[55%];
        background-image: url("~/assets/img/brick-wall.jpg");
    }

    .Bg__grass {
        @apply bg-lime-500 bg-repeat-round h-2/3 lg:h-[45%];
        background-image: url("~/assets/img/grass.png");

    }

    .Bg__grass-line {
        @apply bg-repeat-x;
        background-image: url("~/assets/svg/grass.svg");
    }
}

@keyframes BodyFadeIn {
    0%, 80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    animation: ease-in-out BodyFadeIn 800ms;
    animation-iteration-count: 1;
}
